/* BACKGROUND
----------------------------------------- */
body {
	background: #fff url(../images/bgrepeater-2.png) repeat;
	margin: 0px;
}

/* TOP LEVEL CONTAINER
----------------------------------------- */
#Container {
	background: #fff;
	width: 1024px;
	margin: 0px auto;
	padding: 0px 10px;
}

/* HEADER AREA
------------------------------------------*/
#Header {
	
}

#Header div {
	float: left;
}

#Header p.sitename { 
	font-weight: 700;
	font-family: Roboto, Tahoma, Verdana, sans-serif;
	font-style: italic;
	font-size: 2.4em;
	margin: 0;
}

#Header p.tagline {
	padding-top: 12px;
	padding-left: 128px;
	font-size: 1.8em;
	margin: 0;

}

#Header img {

}

/* MAIN NAVIGATION - TABS
----------------------------------------- */
#Navigation {
	clear: both;
	overflow: hidden;
	background: #FFF;
}

#Navigation div.level1{
	font-size: 1.4em;
}

#Navigation div.level2{
	clear:both;
	font-size: 1.2em;
}

	#Navigation ul { 
		padding: 0;
		margin: 0;
		border: 0;
	}
		#Navigation ul li { 
			float: left;
			margin-right: 8px;
	 		list-style: none;
			display: block;
		}

  			#Navigation ul li a { 
  				font-family: Roboto, Tahoma, Verdana, sans-serif;
				font-style: italic;
				text-decoration: none;
				display: block;
				padding-right: 3px; 
				padding-left: 3px; 
			}


				#Navigation ul li a:hover {
					background-color: #770707;
					color: #FFF;
					cursor: pointer;
				}

    			#Navigation ul li a.current,
	    		#Navigation ul li a.current:hover {
					background-color: #770707;
					color: #FFF;	
					cursor: default;
				}
				#Navigation ul li a.current span,
				#Navigation ul li a.section span,
	    		#Navigation ul li a.section:hover span,
				#Navigation ul li a.current:hover span {
				}

/* MAIN LAYOUT
----------------------------------------- */

#Layout {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}

/* Twitter specific */
ul.latest-tweets {
	padding-left: 0px;
	list-style: none;
}
	/* Hide the Tweet pics */
	div.tweet-pic {
		display: none;
	}


/* FOOTER LAYOUT
----------------------------------------- */

#Footer {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}
