/* BACKGROUND
----------------------------------------- */
body {
	background: #fff url(../images/bgrepeater.png) repeat;
}


/* MAIN NAVIGATION - TABS
----------------------------------------- */
#Navigation {
	float: left;
	margin: 0 auto;
	padding-top: 10px;
	overflow: hidden;
	background: #FFF;
}

#Navigation div{
	float: left;
}

#Navigation div.level2{
	clear:both;
}

	#Navigation ul { 
	}
		#Navigation ul li { 
	 		list-style: none; 
			margin: 0 2px; 
			float: left;
			display: block;
		}
  			#Navigation ul li a { 
				float: left;
				text-decoration: none;
				display: block; 
				padding: 0 0 0 10px;
			}
				#Navigation ul li a span {
					text-align: center;
	        		float: left;
					padding-right: 10px;
				}

				#Navigation ul li a:hover { 
					cursor: pointer;
				}

					#Navigation ul li a:hover span {
						cursor: pointer;
					}
					
    			#Navigation ul li a.current,
	    		#Navigation ul li a.section,
	    		#Navigation ul li a.section:hover,
	    		#Navigation ul li a.current:hover { 
					}
				#Navigation ul li a.current span,
				#Navigation ul li a.section span,
	    		#Navigation ul li a.section:hover span,
				#Navigation ul li a.current:hover span {
				}

/* MAIN LAYOUT
----------------------------------------- */

#Layout {
	clear: both;
	float: left;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}


/* FOOTER LAYOUT
----------------------------------------- */

#Footer {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}
