/* BACKGROUND
----------------------------------------- */
body {
	background: #fff url(../images/bgrepeater.png) repeat;
}

/* TOP LEVEL CONTAINER
----------------------------------------- */
#Container {
	width: 1024px;
	margin: 0px auto;
}

/* HEADER AREA
------------------------------------------*/
#Header {
	background: #fff;
}

#Header div {

}

#Header p.sitename { 
	font-weight: 700;
	font-family: Roboto, Tahoma, Verdana, sans-serif;
	font-style: italic;
	font-size: 2.4em;
	margin: 0;
}

#Header p.tagline {
	padding-top: 12px;
	padding-left: 128px;
	font-size: 1.8em;
	margin: 0;

}

#Header img {

}

/* MAIN NAVIGATION - TABS
----------------------------------------- */
#Navigation {
	clear: both;
	overflow: hidden;
	background: #FFF;
}

#Navigation div{

}

#Navigation div.level2{
	clear:both;
}

	#Navigation ul { 
		padding: 0;
		margin: 0;
		border: 0;
	}
		#Navigation ul li { 
			float: left;
			margin-right: 8px;
	 		list-style: none;
			display: block;
		}

  			#Navigation ul li a { 
				text-decoration: none;
				display: block; 
			}
				#Navigation ul li a span {
					text-align: center;
					padding-right: 10px;
				}

				#Navigation ul li a:hover { 
					cursor: pointer;
				}

					#Navigation ul li a:hover span {
						cursor: pointer;
					}
					
    			#Navigation ul li a.current,
	    		#Navigation ul li a.section,
	    		#Navigation ul li a.section:hover,
	    		#Navigation ul li a.current:hover { 
					}
				#Navigation ul li a.current span,
				#Navigation ul li a.section span,
	    		#Navigation ul li a.section:hover span,
				#Navigation ul li a.current:hover span {
				}

/* MAIN LAYOUT
----------------------------------------- */

#Layout {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}


/* FOOTER LAYOUT
----------------------------------------- */

#Footer {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	background: #FFF;
}
